
<div class="container">
	<div class="jumbotron">
	<h1>Give me a question</h1>
	<%= form_for @question do |f| %>
		<div class ="form_group">
		  <%= f.label :title, "Question here" %>
		  <%= f.text_field :title, class: "form-control" %>
	 	</div>
	 	<div class="form_group">
		  <%= f.label :description, "Description here" %>
		  <%= f.text_area :description, class: "form-control" %>
		</div>
		<%= f.submit (@question.persisted? ? "Update" : "Save"), class: "btn btn-primary" %>
	<% end %>
	</div>
</div>
<div>
	<% if @question.errors.any? %>
	<ul>
	<% @question.errors.full_message.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
	<% end %>
</div>