/
  <div class="navbar navbar-default navbar-fixed-top">
  <h1>List of ALL. TEH. QUESTIONS.</h1>
  </div>
  <haml_loud> link_to &quot;Create New Question&quot;, new_question_path </haml_loud>
  kcould use a url instead of a path (esp. for sending something externally: e.g. an email), but more meaningful with path
= link_to "Create New Question", new_question_path, class: "btn btn-primary"
%h2 Recent Questions
- cache "recent_questions", skip_digest: true do
  - @recent_questions.each do |question|
    = cache ["recent", question] do
      .jumbotron{id: "recent_#{dom_id(question)}"}
        %h2= link_to question.title, question
        / the last 'question' is shorthand for 'question_path(question)'
        %p.description= question.description
        %p
          Created on: #{formatted_date(question.created_at)}
        %br
%h2 Popular Questions
- @questions.each do |question|
  = cache question do
    .jumbotron{id: dom_id(question)}
      %h2= link_to question.title, question
      / the last 'question' is shorthand for 'question_path(question)'
      %p.description= question.description
      %p
        Created on: #{formatted_date(question.created_at)}
      %br
