<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<div class="navbar navbar-default navbar-fixed-top">
  <span class="navbar-brand">Questions</span>
  <div class="pull-right">
  	<br>
	  <ul class="list-inline">
	  	<li><%= link_to "All Questions", questions_path %></li>
	  	<li><%= link_to "Create New Question", new_question_path %></li>
	  </ul>
  </div>
</div>

<% if flash[:notice] || flash[:error] %>
	<h3><%= flash[:notice] || flash[:error] %></h3>
<% end %>

<%= yield %>

</div>
</body>
</html>
